<!doctype html>
<html>
    <head>
        <title>travel story-inscription</title>
       <meta charset="utf-8">
        <!-- importer le fichier de style -->
        <link rel="stylesheet" href="../assets/css/style1.css" media="screen" type="text/css" />
    </head>
    <body>
        <a href="home.html"><img src="../assets/images/logo.png" alt="logo" height="150" width="120"></a>
        <div id="container">
            <!-- zone d'inscription -->
            
            <form action="" method="POST">
                <h1>inscription</h1>
                
                <label><b>nom</b></label>
                <input type="text" placeholder="votre nom" name="nom" required>

                <label><b>prenom</b></label>
                <input type="text" placeholder="votre prenom" name="prenom" required>
                <label><b>CIN</b></label>
                <input type="number" placeholder="votre cin" name="cin" maxlength="8" required>
                <br>
                <label><b>date de naissance</b></label>
                <input type="date"  name="date_nais" required>
                <br>
                <label><b>sexe</b></label>
                <input type="radio"  name="sexe" value="male" required><label for="">homme</label>
                <input type="radio"  name="sexe" value="female" required><label for="">femme</label>
                <br>
                <label><b>e-mail</b></label>
                <input type="email" placeholder="votre e-mail" name="email" required>
                <br>
                <label><b>telephone</b></label>
                <input type="tel" placeholder="xx-xxx-xxx" name="tel" pattern="[0-9]{2}-{0-9]{3}-{0-9]{3}" required>
                <br>
                <label><b>adresse</b></label>
                <input type="text" placeholder="votre adresse" name="adresse" required>
                <label><b>profesion</b></label>
                <input type="text" placeholder="votre profesion" name="profession" required>
                <label><b>RIP</b></label>
                <input type="text" placeholder="votre rip" name="rip" maxlength="9" required>
                <label><b>login</b></label>
                <input type="text" placeholder="votre login" name="login" required>
                <label><b>mot de passe</b></label>
                <input type="password" placeholder="votre mot de passe" name="pass" required>
                <label><b>confirmer votre emot de passe</b></label>
                <input type="password" placeholder="votre mot de passe" name="pass1" required>
                <input type="submit" id='submit' value='inscription' >
                <input type="reset" id="annuler" value="annuler">
            </form>
        </div>
    </body>
</html>